<div id='page1' class='jp-page' style='width:210mm; height:140mm;'>
    <div style='height:140mm;width:210mm;margin-top:0mm;position: relative;float:left;' class='jp-row'>
        <div style='height:140mm;width:210mm;position: relative;float:left;' class='jp-col'>
            <div class='jp-table jp-no-border jp-comp-10'>
                <table cellspacing='0' id='tid-1' style='width: 725px;'>
                    <colgroup>
                        <col width='80'>
                        <col width='178'>
                        <col width='78'>
                        <col width='51'>
                        <col width='94'>
                        <col width='97'>
                        <col width='147'>
                    </colgroup>
                    <tbody>
                        <tr height='32' style=''>
                            <td style='height: 31px; top: 10px; left: -16px; font-weight: 700; text-align: right; font-size: 26px;'
                                class='' rowspan='1' colspan='4'><span class='expr'>袜迅云MOM</span></td>
                            <td style='height: 31px; top: 10px; left: -16px; font-weight: 700; text-align: left; font-size: 26px;'
                                class='' rowspan='1' colspan='3'><span class='expr'>生产流转单</span></td>
                        </tr>
                        <tr height='30' style=''>
                            <td style='height: 30px; top: 5px; left: 0px; font-weight: 700; text-align: left;' class=''>
                                <span class='expr'>流水号：</span>
                            </td>
                            <td style='height: 30px; text-align: left;' class=''><span class='expr'>2025122600002</span>
                            </td>
                            <td style='height: 30px; font-weight: 700; text-align: left;' class=''><span
                                    class='expr'>出货位置：</span></td>
                            <td style='height: 29px; text-align: left;' class='' colspan='2' rowspan='1'><span
                                    class='expr'></span></td>
                            <td style='height: 30px; text-align: left; font-weight: 700;' class=''><span
                                    class='expr'>收货位置：</span></td>
                            <td class='' style='height: 30px;'><span class='expr'></span></td>
                        </tr>
                        <tr height='30' style=''>
                            <td style='height: 30px; text-align: left; font-weight: 700;' class=''><span
                                    class='expr'>扫码类型：</span></td>
                            <td style='height: 30px; text-align: left;' class=''><span class='expr'>下机扫码</span></td>
                            <td style='height: 30px; text-align: left; font-weight: 700;' class=''><span
                                    class='expr'>完工工序：</span></td>
                            <td style='height: 29px; text-align: left;' colspan='2' rowspan='1' class=''><span
                                    class='expr'>织造</span></td>
                            <td style='height: 30px;' class=''><span></span></td>
                            <td style='height: 30px;' class=''><span></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='jp-table jp-no-border jp-comp-9'>
                <table cellspacing='0' id='tid-2' style='width: 733px;'>
                    <colgroup>
                        <col width='91'>
                        <col width='160'>
                        <col width='96'>
                        <col width='168'>
                        <col width='76'>
                        <col width='142'>
                    </colgroup>
                    <tbody>
                        <tr height='30'>
                            <td style='height: 30px; font-weight: 700; text-align: left;' class=''><span
                                    class='expr'>操作员：</span></td>
                            <td style='height: 30px;' class=''><span class='expr'>吴仁亮</span></td>
                            <td style='height: 30px; font-weight: 700; text-align: left;' class=''><span
                                    class='expr'>收货人：</span></td>
                            <td style='height: 30px;' class=''><span></span></td>
                            <td style='height: 30px; font-weight: 700;' class=''><span class='expr'>交货人：</span></td>
                            <td style='height: 30px;' class=''><span></span></td>
                        </tr>
                        <tr height='30'>
                            <td style='height: 30px; font-weight: 700; text-align: left;' class=''><span
                                    class='expr'>调拨时间：</span></td>
                            <td style='height: 30px;' class=''><span class='expr'>2025-12-26 11:37:50</span></td>
                            <td style='height: 30px; font-weight: 700; text-align: left;' class=''><span
                                    class='expr'>打印时间：</span></td>
                            <td style='height: 30px;' class=''><span class='expr'>2026-01-16 17:31:32</span></td>
                            <td style='height: 30px;' class=''><span></span></td>
                            <td style='height: 30px;' class=''><span></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='jp-table jp-black-border jp-comp-4'>
                <table cellspacing='0' id='tid-3' style='width: 734.5px;'>
                    <colgroup>
                        <col width='129'>
                        <col width='60'>
                        <col width='60'>
                        <col width='124'>
                        <col width='60'>
                        <col width='60'>
                        <col width='60'>
                        <col width='60'>
                        <col width='60'>
                        <col width='60'>
                    </colgroup>
                    <thead></thead>
                    <tr height='30'>
                        <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                class='expr'>订单号</span></td>
                        <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                class='expr'>货号</span></td>
                        <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                class='expr'>品名</span></td>
                        <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                class='expr'>颜色</span></td>
                        <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                class='expr'>尺码</span></td>
                        <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                class='expr'>包数</span></td>
                        <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                class='expr'>数量</span></td>
                        <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                class='expr'>单位</span></td>
                        <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                class='expr'>重量</span></td>
                        <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                class='expr'>备注</span></td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr height='30'>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>251226</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>A-001</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>洞洞袜</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>黑色</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>39*42</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>2</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>1000</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>双</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>0</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'></span></td>
                        </tr>
                        <tr height='30'>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>251226</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>A-001</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>洞洞袜</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>黑色</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>39*42</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>2</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>1000</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>双</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>0</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'></span></td>
                        </tr>
                        <tr height='30'>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>251226</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>A-001</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>洞洞袜</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>黑色</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>39*42</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>2</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>1000</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>双</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>0</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'></span></td>
                        </tr>

                        <tr height='30'>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>251226</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>A-001</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>洞洞袜</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>黑色</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>39*42</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>2</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>1000</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>双</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>0</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'></span></td>
                        </tr>
                        <tr height='30'>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>251226</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>A-001</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>洞洞袜</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>黑色</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>39*42</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>2</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>1000</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>双</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>0</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'></span></td>
                        </tr>
                        <tr height='30'>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>251226</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>A-001</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>洞洞袜</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>黑色</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>39*42</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>2</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>1000</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>双</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>0</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'></span></td>
                        </tr>
                         <tr height='30'>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>251226</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>A-001</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>洞洞袜</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>黑色</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>39*42</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>2</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>1000</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>双</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>0</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'></span></td>
                        </tr>
                         <tr height='30'>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>251226</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>A-001</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>洞洞袜</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>黑色</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>39*42</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>2</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>1000</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>双</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>0</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'></span></td>
                        </tr>
                         <tr height='30'>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>251226</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>A-001</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>洞洞袜</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>黑色</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>39*42</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>2</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>1000</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>双</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>0</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'></span></td>
                        </tr>

                         <tr height='30'>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>251226</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>A-001</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>洞洞袜</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>黑色</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>39*42</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>2</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>1000</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>双</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>0</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'></span></td>
                        </tr>
                         <tr height='30'>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>251226</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>A-001</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>洞洞袜</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>黑色</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>39*42</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>2</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>1000</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>双</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>0</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'></span></td>
                        </tr>
                         <tr height='30'>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>251226</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>A-001</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>洞洞袜</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>黑色</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>39*42</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>2</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>1000</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>双</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'>0</span></td>
                            <td style='height: 30px; text-align: center;' class='ui-selected-first'><span
                                    class='expr'></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    /* 1. 基础布局容器 */
    .jp-page {
        position: relative;
        width: 210mm;
        height: auto; /* 必须是auto，让高度随内容撑开 */
        font-family: "微软雅黑", sans-serif;
        background-color: #fff;
    }

    /* 2. 通用文字处理 */
    .jp-text, .jp-label {
        padding: 0px !important;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 9pt;
    }

    /* 3. 核心：取消所有表格的绝对定位 */
    /* 原来的 position: absolute 会导致重叠，现在改为相对布局（标准文档流） */
    .jp-table {
        position: relative !important; 
        width: 100%;
        margin-bottom: 10px; /* 各个板块之间的间距 */
    }

    .jp-table table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
    }

    /* 4. 边框样式 */
    div.jp-black-border td {
        border: black 0.4pt solid; /* 统一边框，避免重叠漏线 */
    }

    div.jp-no-border table {
        border: none;
    }

    div.jp-no-border td {
        border: none;
    }

    /* 5. 具体的板块微调 */
    
    /* 标题部分 (原 jp-comp-10) */
    .jp-page .jp-comp-10 {
        padding-top: 10mm;
        padding-left: 5mm;
        z-index: 103;
    }

    /* 数据明细表格 (原 jp-comp-4) */
    .jp-page .jp-comp-4 {
        padding-left: 5mm;
        padding-right: 5mm;
        z-index: 106;
    }

    /* 操作员/页脚信息 (原 jp-comp-9) */
    .jp-page .jp-comp-9 {
        padding-left: 5mm;
        padding-right: 5mm;
        margin-top: 5mm; /* 紧跟在明细表格下方 */
        z-index: 105;
        clear: both; /* 强制换行 */
    }

    /* 6. 特殊元素定位 (仅保留必须绝对定位的，如条码或Logo，如果没用到可忽略) */
    .jp-image, .jp-barcode, .jp-logo {
        position: absolute;
    }

    /* 7. 打印优化：让 Lodop 识别表头并在换页时自动重复 */
    thead {
        display: table-header-group;
    }
    
    /* 打印优化：确保操作员信息不会在分页处被切断 */
    .jp-comp-9 {
        page-break-inside: avoid;
    }

    /* 8. 其他修饰 */
    .expr {
        display: inline-block;
        width: 100%;
    }
</style>