<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.inspection.mapper.InspectionRecordMapper">
    
    <resultMap type="InspectionRecord" id="InspectionRecordResult">
        <result property="id"    column="id"    />
        <result property="summaryId"    column="summary_id"    />
        <result property="defectName"    column="defect_name"    />
        <result property="uploadFlag"    column="upload_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectInspectionRecordVo">
        select id, summary_id, defect_name, upload_flag, create_by, create_time, update_by, update_time from inspection_record
    </sql>

    <select id="selectInspectionRecordList" parameterType="InspectionRecord" resultMap="InspectionRecordResult">
        <include refid="selectInspectionRecordVo"/>
        <where>  
            <if test="summaryId != null "> and summary_id = #{summaryId}</if>
            <if test="defectName != null  and defectName != ''"> and defect_name like concat('%', #{defectName}, '%')</if>
            <if test="uploadFlag != null "> and upload_flag = #{uploadFlag}</if>
        </where>
    </select>
    
    <select id="selectInspectionRecordById" parameterType="Long" resultMap="InspectionRecordResult">
        <include refid="selectInspectionRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertInspectionRecord" parameterType="InspectionRecord" useGeneratedKeys="true" keyProperty="id">
        insert into inspection_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="summaryId != null">summary_id,</if>
            <if test="defectName != null and defectName != ''">defect_name,</if>
            <if test="uploadFlag != null">upload_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="summaryId != null">#{summaryId},</if>
            <if test="defectName != null and defectName != ''">#{defectName},</if>
            <if test="uploadFlag != null">#{uploadFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateInspectionRecord" parameterType="InspectionRecord">
        update inspection_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="summaryId != null">summary_id = #{summaryId},</if>
            <if test="defectName != null and defectName != ''">defect_name = #{defectName},</if>
            <if test="uploadFlag != null">upload_flag = #{uploadFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInspectionRecordById" parameterType="Long">
        delete from inspection_record where id = #{id}
    </delete>

    <delete id="deleteInspectionRecordByIds" parameterType="String">
        delete from inspection_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>